<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.soft.classoa.mapper.LeaveFormMapper">
    <insert id="insert" parameterType="top.soft.classoa.entity.LeaveForm">
        INSERT INTO `oa`.`adm_leave_form` (`employee_id`, `form_type`, `start_time`, `end_time`, `reason`, `create_time`, `state`)
        VALUES (#{employeeId}, #{formType}, #{startTime}, #{endTime}, #{reason}, #{createTime}, #{state})
    </insert>

    <select id="selectById" parameterType="Long" resultType="top.soft.classoa.entity.LeaveForm">
        SELECT *
        FROM adm_leave_form
        WHERE form_id = #{formId}
    </select>

    <select id="selectByParams" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        SELECT f.*, e.name, d.*
        FROM
        adm_leave_form f, adm_process_flow pf, adm_employee e, adm_department d
        WHERE
        f.form_id = pf.form_id
        AND f.employee_id = e.employee_id
        AND e.department_id = d.department_id
        <if test="state != null">
            AND pf.state = #{state}
        </if>
        <if test="operatorId != null">
            AND pf.operator_id = #{operatorId}
        </if>
    </select>
    <select id="selectLatestForm" resultType="top.soft.classoa.entity.LeaveForm">
        SELECT
            *
        FROM
            adm_leave_form
        ORDER BY
            form_id DESC
            LIMIT 1;
    </select>
    <update id="update" parameterType="top.soft.classoa.entity.LeaveForm">
        UPDATE adm_leave_form
        SET employee_id = #{employeeId},
            form_type   = #{formType},
            start_time  = #{startTime},
            end_time    = #{endTime},
            reason      = #{reason},
            state       = #{state},
            create_time =#{createTime}
        WHERE form_id   =#{formId}
    </update>
</mapper>
